.bannerContent{
    position: fixed;
    top: 0;
    left: 0;
    /* z-index: -1; */
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    /* clip-path: circle(180vh at 50% -80vh); */
    clip-path: ellipse(110vh 110vh at 10% 20%);;
    /* opacity: .5; */
    background-color: transparent;
}
.bannerContent div{
    opacity: 1 !important;

}
.clipPath{
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.image{
    position: relative;
    /* left: 9rem; */
    /* top: -25rem; */
}